{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css"%}" />
    <link rel="stylesheet" href="{% static "blog/index.css"%}" />
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/1.jpeg" %}" alt="Karina - The Author Of This Blog" />
            <h2>KARINA'S BLOG</h2>
        </header>
        <p>Hi, i am Karina and I love to take pictures, I will share my publications in this blog</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for post in posts %} 
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>A Serene Sunset Experience! 🌇</h2>
        <p>Watching the sun slowly set, casting a warm golden glow over the landscape, was a magical moment of tranquility.</p>
        <p>The vibrant colors painted across the sky filled my heart with a sense of gratitude and wonder for the beauty of nature.</p>
    </section>
{% endblock %}
